<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112107452207-745tkue6ccuouvnm4f6f4mrhuumo1c3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112107452207-745tkue6ccuouvnm4f6f4mrhuumo1c3p</string>
	<key>API_KEY</key>
	<string>AIzaSyD_d0bkv3HZaoHqmZttSCArw_ke18jRn6s</string>
	<key>GCM_SENDER_ID</key>
	<string>112107452207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infinitestory.infinitestory</string>
	<key>PROJECT_ID</key>
	<string>infinite-story-496b3</string>
	<key>STORAGE_BUCKET</key>
	<string>infinite-story-496b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112107452207:ios:1f97e770eb4cac3d2613da</string>
	<key>DATABASE_URL</key>
	<string>https://infinite-story-496b3.firebaseio.com</string>
</dict>
</plist>